[preset.0]

name="Android"
platform="Android"
runnable=true
dedicated_server=false
custom_features=""
export_filter="all_resources"
include_filter=""
exclude_filter=""
export_path="build/android/wow_335_client.apk"

[preset.0.options]

architectures/armeabi-v7a=false
architectures/arm64-v8a=true
architectures/x86=false
architectures/x86_64=false
package/unique_name="com.wowandroid.client335"
package/name="WoW Android Client"
package/signed=false
package/retain_32_bits_on_64_bits_devices=false
version/code=1
version/name="1.0"
vram_texture_compression/for_desktop=false
vram_texture_compression/for_mobile=true

# 🔐 PERMISOS DE RED (Añadidos para NetworkClient.cs)
permissions/internet=true
permissions/access_network_state=true

# 📂 PERMISOS DE ALMACENAMIENTO (Tus opciones originales)
permissions/request_write_external_storage=true
permissions/request_read_external_storage=true

# 🎨 CONFIGURACIONES GRÁFICAS Y TEXTURAS ESTÁNDAR
graphics/driver_name="gles3"
graphics/custom_android_manifest_directory=""
screen/orientation=0
screen/immersive_mode=true
screen/support_small_screens=true
screen/support_normal_screens=true
screen/support_large_screens=true
screen/support_xlarge_screens=true
user_data_backup/allow_backup=true
command_line/extra_args=""
meta/icon_res_or_path=""
meta/version_name_res_or_path=""
meta/activity_name_res_or_path=""
apk_expansion/enable=false
apk_expansion/salt=0
apk_expansion/public_key=""
